.jumbotron {
  min-height: 300px;
  padding-top: 100px;
  background: $primary-color;
  margin-bottom: 16px;
}
.jumbotron a {
  @include text-shadow(1px, 1px, 1px, rgba($black, .2));
}

.top-bar .name h1 a, .top-bar .name h2 a, .top-bar .name h3 a, .top-bar .name h4 a, .top-bar .name p a, .top-bar .name span a,
.top-bar-section li:not(.has-form) a:not(.button),
.top-bar-section li:not(.has-form) a:not(.button):hover,
.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button),
.breadcrumbs > * a {
  color: $black;
}

dl dt {
  margin-bottom: 0;
  font-weight: bold;
  font-size: rem-calc(12);
  text-transform: uppercase;
  color: scale-color($tuatara, $lightness: -15%);
}

button,.button {
  text-transform: uppercase;
  @include box-shadow(0, 2px, 5px, 0, rgba($black, 0.26));
  @include transition(box-shadow, 0.28s, cubic-bezier(0.4, 0, 0.2, 1));

  &.flat {
    @include box-shadow(0, 0, 0, 0, rgba($black, 0.26));
  }

  &:hover {
    @include box-shadow(0, 8px, 17px, 0, rgba($black, 0.2));
  }
}

li .dropdown {
  @include box-shadow(1px, 1px, 1px, 0, rgba($black, .2));
}

.text-uppercase {
  text-transform: uppercase;
}

.label.alert a,
.label.success a {
  color: $white;
}
.label.large {
  font-size: rem-calc(16);
  padding: rem-calc(16);
}
.with-label {
  padding-top: 21px;
}

.small-text {
  font-size: $small-font-size;
}


.alert-box {
  position:fixed;
  left:0px;
  bottom:0px;
  min-height: 100px;
  width:100%;
  z-index: 100;
}

/* clear out the caret in the nav bar */
.top-bar-section .has-dropdown a::after {
  content: none;
}
.top-bar-section .has-dropdown a > i {
  margin-left: 10px
}
.top-bar-section .has-dropdown > a {
  padding-right: 15px !important;
}

section {
  padding-bottom: 50px;
}
footer {
  // min-height: 60px;
  background-color: $secondary-color;
  color: $black;
  position: fixed;
  width: 100%;
  bottom: 0;
}

@include exports("info-box") {
  @if $include-html-alert-classes {
    .info-box {
      @include alert;

      .close      { @include alert-close; }

      &.radius    { @include radius($alert-radius); }
      &.round     { @include radius($global-rounded); }

      &.success   { @include alert-style($success-color); }
      &.alert     { @include alert-style($alert-color); }
      &.secondary { @include alert-style($secondary-color); }
      &.warning   { @include alert-style($warning-color); }
      &.info      { @include alert-style($info-color); }
      &.alert-close { opacity: 0}
    }
  }
}
