.jumbotron {
  min-height: 300px;
  padding-top: 100px;
  background: $primary-color;
  color: #fff;
  margin-bottom: 16px;
}
.jumbotron h1,
.jumbotron h2,
.jumbotron label {
  color: #fff;
}

.jumbotron a {
  color: #fff;
}

dl dt {
  margin-bottom: 0;
  font-weight: bold;
  font-size: rem-calc(12);
  text-transform: uppercase;
  color: scale-color($smoke-gray, $lightness: -15%);
}

.socket_stream {
  height: 65px;
  overflow-y: auto;
  font-size: rem-calc(10);
  background: $white;
  border: 1px solid scale-color($white, $lightness: -15%);
  padding: rem-calc(5);
  font-family: monospace;
}

table.stats {
  font-size: rem-calc(10);
}
table.stats td:first-child {
  text-transform: uppercase;
  color: $smoke-gray;
}

button,.button {
  text-transform: uppercase;
}

li .dropdown {
  @include box-shadow(1px, 1px, 1px, 0, rgba($black, .2));
}

.text-uppercase {
  text-transform: uppercase;
}

.user-email {
  color: $steel;
  font-size: 80%;
}

.label.alert a,
.label.success a {
  color: $white;
}
.label.large {
  font-size: rem-calc(16);
  padding: rem-calc(16);
}
.with-label {
  padding-top: 21px;
}

.url-overflow {
  /* width: 135px; */
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 80%;
}

.small-text {
  font-size: $small-font-size;
}


.alert-box {
  position:fixed;
  left:0px;
  bottom:0px;
  min-height: 100px;
  width:100%;
  z-index: 100;
}

.claim-name {
  color: $smoke-gray;
  font-size: rem-calc(12);
  text-transform: uppercase;
}

/* clear out the caret in the nav bar */
.top-bar-section .has-dropdown a::after {
  content: none;
}
.top-bar-section .has-dropdown a > i {
  margin-left: 10px
}
.top-bar-section .has-dropdown > a {
  padding-right: 15px !important;
}

.pricing-table {
  min-height: 413px;
  display: inline-block;
}
.pricing-table .title {
  background-color: $black;
  text-transform: uppercase;
}
.pricing-table .price {
  background-color: $smoke-gray;
  color: $white;
}
.pricing-table.active .title {
  background-color: $cyan;
}
.pricing-table.active .price {
  background-color: $cyan-dark;
}

/* labels */
.label.pending,
.label.draft {
  background-color: $pending;
}
.label.confirmed,
.label.resolved {
  background-color: $confirmed;
}
.label.disregarded {
  background-color: $disregarded;
}
.label.for-review,
.label.for_review,
.label.in-review,
.label.in_review {
  background-color: $for_review;
}

.incident-strength {
  font-size: 300%;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

#compare {
  position:relative;
  height:500px;
  overflow:hidden;
  margin-bottom:20px;
}

#compare #original, #compare #match {
  height:500px;
  position:absolute;
  overflow:hidden;
}
#compare #original {
  width:80%;
  right:20%;
  background:#fff;
  -webkit-box-shadow: -10px 0px 100px -20px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 100px -20px rgba(0, 0, 0, 1);
}
#compare #match {
  width:80%;
  left:20%;
  background:#fff;
  -webkit-box-shadow: -10px 0px 100px -20px rgba(0, 0, 0, 1);
  box-shadow: -10px 0px 100px -20px rgba(0, 0, 0, 1);
}
#compare > #match {
}
#compare iframe {
  border:0;
  height:405px;
  width:100%;
}

section {
  padding-bottom: 50px;
}
footer {
  // min-height: 60px;
  background-color: $secondary-color;
  color: $cyan-dark;
  position: fixed;
  width: 100%;
  bottom: 0;
}

// Radial Graph
.radial-graph .background {
  fill: #FFFFFF;
  fill-opacity: 0.01;
}
.radial-graph .component {
  fill: #e1e1e1;
}
.radial-graph .component .label {
  // font-family: Myriad, "Helvetic Neue", Helvetica, Arial;
  text-anchor: middle;
  fill: #0000FF;
}
.radial-graph .arc {
  stroke-weight:0.1;
  fill: #4e8fff;
}
.radial-graph .arc2 {
  stroke-weight:0.1;
  fill: #3660b0;
}
.radial-graph .label {
  // font-family:  Myriad, "Helvetic Neue", Helvetica, Arial;
  text-anchor: middle;
}
.radial-graph .radial-svg {
  display: block;
  margin: 0 auto;
}

@include exports("info-box") {
  @if $include-html-alert-classes {
    .info-box {
      @include alert;

      .close      { @include alert-close; }

      &.radius    { @include radius($alert-radius); }
      &.round     { @include radius($global-rounded); }

      &.success   { @include alert-style($success-color); }
      &.alert     { @include alert-style($alert-color); }
      &.secondary { @include alert-style($secondary-color); }
      &.warning   { @include alert-style($warning-color); }
      &.info      { @include alert-style($info-color); }
      &.alert-close { opacity: 0}
    }
  }
}
